.navigation-mobile .logo,
.navigation-mobile_darken .logo {
  width: 114px;
  display: block;
  margin: 0 auto;
}

.navigation-mobile .logo img,
.navigation-mobile_darken .logo img {
  width: 100%;
}

.navigation-mobile .lang,
.navigation-mobile_darken .lang {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation-mobile_darken {
  z-index: 10;
  display: none;
  position: fixed;
  left: 0;
  top: 0px;
  padding: 10px 0 10px;
  width: 100%;
  background: #fff;
}

.navigation-mobile_darken .lang__name {
  color: #626262;
}

.opacity-0 {
  opacity: 0;
}

html,
body {
  overflow: x-hidden;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background: url("../img/header.jpg") top center/cover;
  height: 100vh;
  padding: 60px 0 140px;
}

.header__offer {
  margin-top: 28vh;
}

.header .rounds {
  margin-top: 10vh;
}

.navigation_darken {
  display: none;
  background: #fff;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0;
  padding: 20px 0 10px;
  width: 100%;
}

.navigation_darken .menu a {
  color: #626262;
}

.navigation_darken .lang__name {
  color: #626262;
}

.navigation_darken .socials img {
  opacity: 1;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 198px;
}

.home-icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  background: #0F7CEA;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-icon__img {
  width: 27px;
}

.home-icon svg {
  width: 27px;
  fill: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-icon:hover {
  background: #fff;
}

.home-icon:hover svg {
  fill: #0F7CEA;
}

.menu {
  font-size: 1.8rem;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  color: #fff;
}

.soc_and_flag {
  margin-left: auto;
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials li {
  margin-right: 45px;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.socials li:last-child {
  margin-right: 0;
}

.socials li:hover {
  opacity: 1;
}

.lang {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.lang__name {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}

.lang__flag {
  margin-left: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.lang:hover {
  opacity: 1;
  text-decoration: none;
}

.lang:hover .lang__box {
  display: block;
}

.lang__box {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 10px;
}

.lang__box-in {
  border: 1px solid #0F7CEA;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.lang__box .lang__name {
  color: #626262;
}

.lang__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-bottom: 5px;
}

.lang__item:last-child {
  margin-bottom: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.offer {
  color: #fff;
  text-align: center;
}

.offer__title {
  font-size: 10rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  min-height: 140px;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.offer__title:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 98px;
  background: #0F7CEA;
  margin-left: 10px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

.offer__desc {
  font-size: 3.2rem;
  margin-top: 40px;
}

.rounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounds__item {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: #fff;
  margin-bottom: 20px;
}

.rounds__item:nth-child(1) {
  opacity: 0.5;
}

.rounds__item:nth-child(2) {
  opacity: 0.6;
}

.rounds__item:last-child {
  opacity: 0.9;
  margin-bottom: 0;
}

.rounds_blue .rounds__item {
  background: #0F7CEA;
}

/* Sections */
.section {
  padding: 10px 0;
}

.section__title {
  font-size: 4.8rem;
  font-weight: 400;
  text-align: center;
}

.section__body {
  margin-top: 110px;
}

.section__rounds {
  margin-top: 120px;
}

/* Services */
.services {
  padding-top: 110px;
  padding-bottom: 0;
}

.services .rounds {
  margin-top: 150px;
}

.services .service {
  margin-bottom: 20px;
}

.service .n-icon__logo-des svg {
  width: 64px;
  height: 64px;
}

.service .n-icon__card svg {
  width: 72px;
  height: 72px;
}

.service .n-icon__web svg {
  width: 71px;
  height: 63px;
}

.service .n-icon__www svg {
  width: 77px;
  height: 69px;
}

.service .n-icon__and-apple svg {
  width: 100px;
  height: 71px;
}

.service .n-icon__sketch svg {
  width: 68px;
  height: 68px;
}

.icon-one svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #0F7CEA;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-one_logo-des {
  width: 64px;
  height: 64px;
}

.icon-one_card {
  width: 72px;
  height: 72px;
}

.icon-one_web {
  width: 71px;
  height: 62px;
}

.icon-one_www {
  width: 77px;
  height: 69px;
}

.icon-one_and-apple {
  width: 93px;
  height: 70px;
}

.icon-one_sketch {
  width: 68px;
  height: 68px;
}

.service {
  background: #fff;
  border-radius: 20px;
  padding: 45px 65px;
  border: 2px solid #6aaff5;
  text-align: center;
  color: #BEBEBE;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 380px;
}

.service .n-icon {
  fill: #0F7CEA;
}

.service__img-box {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
  display: inline-block;
}

.service__title {
  font-size: 3.2rem;
  font-weight: 500;
}

.service__desc {
  font-size: 1.6rem;
  margin-top: 30px;
}

.service:hover, .service_active {
  background: #0F7CEA;
  color: #fff;
}

.service:hover .n-icon, .service_active .n-icon {
  fill: #fff;
}

.service:hover .icon-one svg, .service_active .icon-one svg {
  fill: #fff;
}

/* Portfolio */
.portfolio {
  padding-top: 90px;
  padding-bottom: 0;
}

.portfolio__body {
  margin-top: 80px;
}

.portfolio__content {
  margin-top: 80px;
}

.portfolio .portfolio-one {
  margin-bottom: 20px;
}

.portfolio .rounds {
  margin-top: 220px;
}

.portfolio .n-icon {
  width: 40px;
}

.portfolio .n-icon__logo-des svg {
  width: 28px;
  height: 28px;
}

.portfolio .n-icon__card svg {
  width: 25px;
  height: 25px;
}

.portfolio .n-icon__web svg {
  width: 23px;
  height: 21px;
}

.portfolio .n-icon__www svg {
  width: 23px;
  height: 21px;
}

.portfolio .n-icon__and-apple svg {
  width: 40px;
  height: 25px;
}

.portfolio .n-icon__sketch svg {
  width: 21px;
  height: 21px;
}

.nav-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-pills .nav-link {
  font-size: 2.1rem;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.nav-pills .nav-link:hover {
  opacity: 1;
}

.nav-pills .nav-link_radius {
  border-radius: 20px !important;
}

.nav-pills .active {
  opacity: 1;
}

.nav-pills .active .n-icon {
  fill: #fff;
}

.nav-pills .n-icon {
  fill: #0F7CEA;
  margin-right: 10px;
}

.portfolio-one {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 280px;
}

.portfolio-one img {
  min-width: 100%;
  min-height: 100%;
}

.portfolio-one:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #0F7CEA;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-one:hover:after, .portfolio-one_active:after {
  opacity: 0;
}

/* Numbers */
.numbers {
  padding-top: 90px;
  padding-bottom: 80px;
}

.numbers__body {
  margin-top: 50px;
}

.numbers .rounds {
  margin-top: 190px;
}

.number-one {
  text-align: center;
}

.number-one__title {
  font-size: 20rem;
  line-height: 1em;
  font-weight: 700;
  color: #0F7CEA;
}

.number-one__desc {
  margin-top: 20px;
  font-size: 2.6rem;
  color: #626262;
}

.number-one_blur .number-one__title {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

/* Support */
.support {
  color: #fff;
  background: url("../img/support_bg.jpg") no-repeat top center/cover;
  padding: 210px 0;
}

.support .support-form {
  margin-top: 50px;
}

.support-form__input, .support-form__textarea {
  font-size: 1.7rem;
  display: block;
  width: 100%;
  background: #F7F7F7;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
}

.support-form__input {
  padding: 20px 40px;
}

.support-form__textarea {
  min-height: 300px;
  padding: 30px 40px;
}

.support-form__button {
  outline: none;
  display: block;
  border: none;
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  font-size: 1.8rem;
  border-radius: 20px;
  background: #fff;
  color: #0F7CEA;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.support-form__button:hover {
  background: #0F7CEA;
  color: #fff;
}

/* People Say */
.people-say {
  text-align: center;
}

.people-say__title-box {
  position: relative;
  display: inline-block;
  padding: 0 100px;
  margin: 0 auto;
}

.people-say__title {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1em;
  position: relative;
  display: inline-table;
  margin: 0 auto;
}

.people-say .rounds {
  margin-top: 50px;
  margin-bottom: 80px;
}

.people-say-slider {
  margin-top: 65px;
}

.people-say-slider__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people-say-slider__arrows .slick-prev,
.people-say-slider__arrows .slick-next {
  background: url("../img/arrow-left.svg") no-repeat center center;
  display: block;
  height: 70px;
  width: 70px;
  outline: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.people-say-slider__arrows .slick-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.people-say-slider__item {
  padding: 0 20px;
  text-align: center;
  outline: none;
}

.people-say-slider__img {
  width: 100%;
}

.people-say-slider__img-box {
  width: 202px;
  height: 202px;
  border-radius: 100px;
  margin: 0 auto;
}

.people-say-slider__title {
  margin-top: 30px;
  font-size: 3.6rem;
  color: #707070;
}

.people-say-slider__post {
  font-size: 2.4rem;
  color: #A3A3A3;
  font-style: italic;
}

.people-say-slider__message {
  margin-top: 30px;
  font-size: 2.4rem;
  color: #626262;
  font-style: italic;
}

.people-say-slider .slick-slide {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.people-say-slider .slick-center {
  opacity: 1;
}

/* We work */
.we-work {
  text-align: center;
}

.we-work__title-box {
  position: relative;
  display: inline-block;
  padding: 0 100px;
  margin: 0 auto;
}

.we-work__title {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1em;
  position: relative;
  display: inline-table;
  margin: 0 auto;
}

.we-work .rounds {
  margin-top: 140px;
  margin-bottom: 150px;
}

.we-work__title {
  position: relative;
  display: inline-table;
  margin: 0 auto;
}

.we-work-slider {
  margin-top: 140px;
}

.we-work-slider__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we-work-slider__arrows .slick-prev,
.we-work-slider__arrows .slick-next {
  background: url("../img/arrow-left.svg") no-repeat center center;
  display: block;
  height: 70px;
  width: 70px;
  outline: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.we-work-slider__arrows .slick-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.we-work-slider .we-work-slider__item {
  text-align: center;
  outline: none;
}

.we-work-slider .we-work-slider__img {
  max-width: 100%;
}

.we-work-slider .we-work-slider__img-box {
  width: 202px;
  height: 202px;
  border-radius: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.we-work-slider .we-work-slider .slick-slide {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.we-work-slider .we-work-slider .slick-center {
  opacity: 1;
}

/* FAQ */
.faq {
  padding-bottom: 240px;
}

.accordion-style h5 {
  text-align: center;
}

.accordion-style .accordion__button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  font-size: 3.2rem;
  color: #0F7CEA;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.accordion-style .accordion__button:after {
  margin-left: 10px;
  content: '';
  display: inline-block;
  width: 30px;
  height: 22px;
  background: url("../img/checkbox.svg") no-repeat;
}

.accordion-style .collapsed:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-style .card {
  border: none;
}

.accordion-style .card-header {
  border: none;
  background: none;
}

.accordion-style .card-body {
  font-weight: normal;
  font-size: 2.1rem;
  font-style: italic;
  text-align: center;
}

.sidebar {
  padding: 40px 0 40px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar .lang__name {
  color: #626262;
}

.sidebar_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sidebar__menu {
  margin-top: 20px;
}

.sidebar__menu ul {
  font-size: 2rem;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__menu a {
  color: #A3A3A3;
}

.sidebar__socials {
  margin-top: 30px;
}

.sidebar__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__socials li {
  margin-right: 10px;
}

.sidebar__socials li:last-child {
  margin-right: 0;
}

.sidebar__copy {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 0 15px;
}

.wrapper {
  background: #fff;
  position: relative;
  z-index: 5;
}

.footer {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 70px 0 40px;
  background: #626262;
  color: #fff;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.footer__desc {
  margin-top: 20px;
  font-size: 3.2rem;
}

.footer__socials {
  margin-top: 50px;
}

.footer__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socials li {
  margin-right: 20px;
}

.footer__socials li:last-child {
  margin-right: 0;
}

.footer__socials a {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__socials a:hover {
  opacity: 1;
}

.footer__home-icon {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__home-icon:hover {
  opacity: 1;
}

.footer__menu {
  margin-top: 50px;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu li {
  margin-right: 20px;
}

.footer__menu li:last-child {
  margin-right: 0;
}

.footer__menu a {
  font-size: 1.8rem;
  color: #A3A3A3;
}

.footer__menu a:hover {
  color: #fff;
}

.footer__copy {
  bottom: 20px;
  left: 0;
  padding-top: 40px;
  color: #A3A3A3;
  font-size: 1.4rem;
  margin-top: 20px;
  text-align: center;
}

.logo-footer {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo-footer:hover {
  opacity: 1;
}

.grecaptcha-badge {
  z-index: 15;
}
/*# sourceMappingURL=main.css.map */